model_config_list { 
  config {
    name: 'text_cl'
    base_path: '/1'
    model_platform: "tensorflow",
    model_version_policy {
      specific {
         versions: 1
      }
    }
  }
  config {
    name: 'text_cl_2'
    base_path: '/2'
    model_platform: "tensorflow",
    model_version_policy {
      specific {
         versions: 1
      }
    }
  }
  
}